{% extends 'header.html.twig' %}
{% block title %} Compte {% endblock %}

{% block body %}
       <main>
                <div id="text2">
                    <h2>Ouverture de compte</h2>
                </div>
                <nav>
                    <ul id="navigation">
                        <li><a href="{{path('accueil')}}">Client</a></li>
                        <li><a href="{{path('compte')}}">Compte</a></li>
                    </ul>
                </nav>
                <br />
                <form id="form2" action="{{path('addCompte')}}" method="post">
                    <fieldset id="field3">
                        <legend id="legend3">Informations Compte</legend>
                            <label for="typeCompte">Selectionner un type de compte* : </label>
                            <select id="typeCompte" name="typecompte" value="" onchange="testCompte()">
                                <option value="">--Sélectionner un type de compte--</option>
                                {% if typec is defined %}
                                    {% for tc in typec %}
                                    <option value="{{tc.id}}">{{tc.libelle}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select><br />
                        <div id="compte">
                        <div id="fraiss">
                        <div class="form-group">
                            <label for="numagence" style="width:150px">Numero Agence</label>
                            <input type="text" id="numagence" name="numeroagence" value="" placeholder="Numero Agence" />
                        </div>

                        <div class="form-group">
                            <label for="numCompte" style="width:150px">Numero Compte</label>
                            <input type="text" id="numCompte" name="numerocompte" value="" placeholder="Numero Compte" />
                        </div>

                        <div class="form-group">
                            <label for="cleRib" style="width:150px">Cle Rib</label>
                            <input type="text" id="cleRib" name="clerib" value="" placeholder="Cle Rib" />
                        </div>

                        <div class="form-group">
                            <label for="client_physique_id" style="width:150px">Client physique</label>
                            <select id="client_physique_id" name="clientphysique">
                             <option>--Selectionner le client--</option>
                             {% if clientp is defined %}
                                {% for cp in clientp %}
                                <option value="{{cp.id}}">{{cp.numCni}}</option>
                                {% endfor %}
                            {% endif %}
                            </select>
                        </div><br />

                        <div class="form-group">
                            <label for="client_physique_id" style="width:150px">Client moral</label>
                            <select id="client_physique_id" name="clientmoral">
                             <option>--Selectionner le client--</option>
                             {% if clientm is defined %}
                                {% for cm in clientm %}
                                <option value="{{cm.id}}">{{cm.nomentreprise}}</option>
                                {% endfor %}
                            {% endif %}
                            </select>
                        </div>

                        </div>
                        <div id="infoC">
                        </div>
                        </div><br />
                    </fieldset><br />
                    <input type="submit" name="btn" value="Valider" id="btn" />
                </form>
       </main>

        </div>
        <script type="text/javascript" src="{{asset('js/appCompte.js')}}"></script>
    </body>
</html>
{% endblock %}