<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link type="text/css" rel="stylesheet" href="{{asset('css/style.css')}}" />
        <link rel="stylesheet" href="{{asset('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')}}" />
        <title>{% block title %} Accueil {% endblock %}</title>
    </head>
    <body>
        <div id="container">
            <header>
                <div id="entete">
                    <img alt="logo" src="{{asset('images/logo bancaire.jpg')}}" id="img1" />
                    <div id="text1"><h2>Bienvenue à la banque du peuple</h2></div>
                </div>
                    <div id="lien">
                        <ul id="naviguer">
                            <li><a href="{{path('accueil')}}">Home</a></li>
                            <li><a href="{{path('ListMoral')}}">Clients morals</a></li>
                            <li><a href="{{path('ListPhysique')}}">Clients physiques</a></li>
                            <li><a href="{{path('ListCompte')}}">Comptes</a></li>
                        </ul>
                    </div>
                    <br />
            </header>
{% block body %}

{% endblock %}
